[Unit]
 Description=Updater
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python /home/pi/RaspiWiFi/updater.py
 User=root
 RestartSec=3
 Restart=on-failure
 [Install]
 WantedBy=multi-user.target